/* manage_schedule.css */

/* TITLE & SUBTITLE */
.manage-title {
    -fx-font-size: 24px;
    -fx-text-fill: #00594E;
    -fx-font-weight: bold;
    -fx-padding: 2 2px 5px 0;
}
.manage-slogan {
    -fx-font-size: 12px;
    -fx-text-fill: #00594E;
    -fx-background-radius: 5px;
}
.welcome-banner {
    -fx-padding: 0 100px 0 10px;
    -fx-background-color: white;
    -fx-spacing: "0";
    -fx-alignment:"CENTER_LEFT";


}

/* SECTION HEADER */
.manage-section-title {
    -fx-font-size: 20px;
    -fx-text-fill: #00594E;
    -fx-padding: 0 0 5 0;
    -fx-font-weight: bold;
}

/* ACTIVE ALERTS PANE */

.manage-alerts-pane {
    -fx-background-color: #C4E3D4;
    -fx-background-radius: 5px;
    -fx-padding: 10;
}
.manage-listview {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}


/* MEDICINE INFO PANEL */
.manage-info-pane {
    -fx-background-radius: 5px;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-background-color: #C4E3D4;
}

/* PANEL TITLE */
.manage-panel-title {
    -fx-font-size: 18px;
    -fx-text-fill: #00594E;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

/* LABELS & VALUES */
.manage-label {
    -fx-font-size: 14px;
    -fx-text-fill: #00594E;
    -fx-font-weight: bold;
}
.manage-value {
    -fx-font-size: 14px;
    -fx-text-fill: #00594E;

}

/* ALERT TIMES BOX */
.manage-times-box {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-pref-width: 380px;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
}

.time-label {
    -fx-font-size: 14px;
    -fx-text-fill: #00594E;
    -fx-padding: 5px 10px;
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-pref-width: 100px;
    -fx-alignment: CENTER;
}

/* Delete Button Container */
.delete-button-container {
    -fx-padding: 10px 0 0 0;
}

/* Delete Button Style */
.delete-button {
    -fx-background-color: #E57373;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 8px 15px 8px 10px;
    -fx-background-radius: 5px;
    -fx-graphic-text-gap: 8px;
    -fx-content-display: left;
    -fx-cursor: hand;
}

.delete-button:hover {
    -fx-background-color: #EF5350; 
}
