.reminder-root {
    -fx-background-color: #E0F2E9;
    -fx-effect: dropshadow( gaussian,rgba(0, 0, 0, 0.3),12, 0.2, 8 , 8);
}

.reminder-card {
    -fx-background-color: #fff;
    -fx-padding: 35 35 35 35;
    -fx-background-radius: 18px;
    -fx-effect: dropshadow(gaussian, #c4e3d466, 18, 0.3, 0, 6);
    -fx-spacing: 26;
}
.time-date{
    -fx-border-color: #E0F2E9;

}
.reminder-level{
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.reminder-mini-card {
    -fx-background-color: #E0F2E9;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow( gaussian,rgba(0, 0, 0, 0.3),12, 0.2, 8 , 8);
    -fx-padding: 12 15 12 15;
}

.cancel-button {
    -fx-background-color: #E57373;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 7px;
    -fx-pref-width: 160px;
    -fx-pref-height: 40px;
}

.set-reminder-button {
    -fx-background-color: #00594E;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 7px;
    -fx-pref-width: 160px;
    -fx-pref-height: 40px;
}
.set-reminder-title{
    -fx-font-size: 32;
    -fx-font-weight: bold;
    -fx-text-fill: #00594E;

}
.reminder-list{
    -fx-background-color: #96CBB8;
}

.reminder-field:hover{
    -fx-border-color: #00594E;
}
.remove{
    -fx-background-color: #3D9574;
    -fx-border-radius: 0.3;
}
.add{
    -fx-background-color: #3D9574;
    -fx-border-radius: 6px;
}

.add:hover{
    -fx-border-color:#00594E ;
    -fx-opacity: 0.3;
    -fx-border-width: 1px;
}
.remove:hover{
    -fx-border-color:#00594E ;
    -fx-opacity: 0.3;
    -fx-border-width: 1px;
}
.am{
    -fx-background-color: #3D9574;
}
.pm{
    -fx-background-color: #00594E;
}
.am,.pm:hover{
    -fx-border-color: #DC6D67;
}